{% extends 'layout.html' %}

{% block title %} Home {% endblock %}


{% block content %}

<div class="header clearfix">
  <nav>
    {% block nav %}
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link active" href="/">Gatitos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mandelbrot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vectorial</a>
      </li>
    </ul>
    {% endblock %}
  </nav>

  <h3 class="text-muted">{% block nav_title %} Gatitos {% endblock %}</h3>
</div>

{% block panel %}
<div class="jumbotron">
  <h1 class="display-3">Gatitos</h1>
  <p class="lead">Desde los tiempos de los egipcios la humanidad se ha visto fascinada por los felinos.

  Pulsa el boton para ver fotos de gatitos servidas estáticamente desde Flask.</p>
  <p><a class="btn btn-lg btn-success" href="gatitos.html" role="button">Ver gatitos</a></p>
</div>
{% endblock %}


{% endblock %}
